html {
    min-width: 100%;
    min-height: 100%;
}

body {
    background-image: url("background.png");
    background-size: 100% 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: repeat;
}

h3 {
    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 12px;
    padding: 0px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    padding: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.9em;
    letter-spacing: -0.2px;
}

a {
    color: #e3c712;
    font-style: normal;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.0em;
    letter-spacing: -0.1px;
    font-weight: 900;
}

br {
    display: block;
    margin: -5px 0px;
}

li {
    float: center;
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.header_title {
    background-position: center;
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-size: 900px 354px;
    min-width: 940px;
    min-height: 354px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.header_text {
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: left;
    letter-spacing: -1px;
    top: 220px;
    left: 850px;
}

.main_menu {
    background-position: center;
    background-image: url("menu.png");
    background-repeat: no-repeat;
    background-size: 940px 69px;
    min-width: 940px;
    min-height: 69px;
    max-height: 69px;
    margin: 0px;
    padding: 0px;
}

.menu_item {
    font-size: 1.1em;
    color: #3b3304;;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-top: 13px;
    margin-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;
    font-weight: 700;

}

.menu_item:hover {
    color: #999900;
}

.main_text {
    background-color: white;
    min-width: 900px;
    max-width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.footer {
    padding-top: 16px;
    padding-bottom: 5px;
    text-align: center;
}
