html {
    min-width: 100%;
    min-height: 100%;
}

body {
    background-image: url("background.png");
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 32px;
    padding: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 0px;
}

a {
    color: #e3c712;
}

.header_title {
    background-position: center;
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-size: 900px 354px;
    min-width: 940px;
    min-height: 354px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.header_text {
    position: absolute;
    text-align: left;
    top: 220px;
    left: 800px;
}

.main_menu {
    background-position: center;
    background-image: url("menu.png");
    background-repeat: no-repeat;
    background-size: 940px 69px;
    min-width: 940px;
    min-height: 69px;
    margin: 0px;
    padding: 0px;
}

.main_text {
    background-color: white;
    min-width: 900px;
    max-width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.footer {
    padding-top: 16px;
    text-align: center;
}
