body {
    background-image: url('/background.jpg');
    background-size: 100%;
    padding: 8px;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.align-left {
    text-align: left;
    float: left;
    clear: left;
}

.align-right {
    text-align: right;
    float: right;
    clear: right;
}

.favorite-list-header {
    margin: 4px 0px 0px;
}

.gray-gradient {
    background: #EBEBEB;
    background: linear-gradient(#F6F6F6, #E8E8E8);
}

.margin-tb-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-16 {
    margin: 16px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.padding-16 {
    padding: 16px;
}

.padding-b-32 {
    padding-bottom: 32px;
}

.padding-t-16 {
    padding-top: 16px;
}

.partial-width {
    width: 76%;
}

.red {
    color: red;
}

.text-left {
    text-align: left;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}