body {
    background-image: url('/background.jpg');
    background-size: 100%;
    padding: 8px;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.align-left {
    text-align: left;
    float: left;
    clear: left;
}

.align-right {
    text-align: right;
    float: right;
    clear: right;
}

.favorite-list-header {
    margin: 4px 0px 0px;
}

.gray-gradient {
    background: #EBEBEB;
    background: linear-gradient(#F6F6F6, #E8E8E8);
}

.margin-tb-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-16 {
    margin: 16px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.padding-16 {
    padding: 16px;
}

.padding-b-16 {
    padding-bottom: 32px;
}

.partial-width {
    width: 76%;
}

.red {
    color: red;
}

.text-left {
    text-align: left;
}